<div class="who_content container">
  <div class="who_content_text">
    <h1
      class="who_white"
      style="
        margin-bottom: 20px;
        font-size: 50px;
        font-family: 'Neuton', sans-serif;
      "
    >
      ABOUT ME -
    </h1>
  </div>
  <div class="row who_content_inner">
    <div class="col-xs-12 col-md-6 who_content_left">
      <div class="potrait"></div>
      <div id="about_me" class="about_me">
        <div class="about_me_inner">
          <div class="about_me_inner_child">
            <p>I'm a 24 year-old front-end engineer who cares about design.</p>
            <p>
              I currently work at
              <a
                target="_blank"
                class="transition clue"
                style="color: white; text-decoration: none;"
                href="https://www.helloclue.com"
                >Clue</a
              >
              as a Front-End Engineer.
            </p>
            <p>
              I also write technical articles on
              <a
                target="_blank"
                class="transition medium"
                style="color: white; text-decoration: none;"
                href="https://medium.com/@Yomi/"
                >Medium</a
              >.
            </p>
          </div>
        </div>
      </div>
      <div id="contact" class="contact">
        <a class="contact_a" href="mailto:yomi.eluwande@gmail.com">
          <span class="contact_inner">
            <span class="contact_inner_child">SAY HELLO</span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 who_content_right">
      <div class="row socialicon">
        <a
          href="http://twitter.com/yomieluwande"
          target="_blank"
          class="transition twitter col-md-3"
        ></a>
        <a
          href="http://instagram.com/yomieluwande"
          target="_blank"
          class="transition instagram col-md-3"
        ></a>
        <a
          href="https://ng.linkedin.com/in/eluwandeyomi"
          target="_blank"
          class="transition linkedin col-md-3"
        ></a>
        <a
          href="https://github.com/yomete"
          target="_blank"
          class="transition medium col-md-3"
        ></a>
      </div>

      <div class="dji"></div>
      <div class="songs">
        <h2 class="songs_text_container">
          <span class="songs_text_center">
            <span class="songs_text_center_child">
              <span class="songs_text">Albums I'm Digging</span>
            </span>
          </span>
        </h2>

        <div class="album_container">
          <a href="#">
            <div class="col-md-6 album album1 transition">
              <h2 class="transition birdy">KOD</h2>
              <!--                        Take that Success!-->
            </div>
          </a>
          <div class="col-md-6 album album2 transition">
            <h2 class="transition kendrick">ye</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
