<div>
	<div class="work container">
		<section class="intro">
			<h1>Hello.</h1>
			<h1>My name is Yomi Eluwande and I'm a front-end developer based in Lagos.</h1>
			<h3>I build websites and web apps with modern front-end technologies.</h3>
			<h3>Feel free to check out some of my projects below.</h3>
		</section>
	</div>
	<div class="portfolio container">
		<div class="row m-t-lg">
			
			<div class="col-sm-4">
				<a target="_blank" href="http://selar.co">
					<img src="assets/img/selar.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://selar.co">selar.co</a>
				
			</div>

			<div class="col-sm-4">
				<a target="_blank" href="http://disease-info.herokuapp.com">
					<img src="assets/img/di.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://disease-info.herokuapp.com">disease-info.herokuapp.com</a>
				
			</div>

			<div class="col-sm-4">
				<a target="_blank" href="http://africlips.com">
					<img src="assets/img/africlips.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://africlips.com">africlips.com</a>
				
			</div>

		</div>

		<div class="row m-t-lg m-b-md">
			
			<div class="col-sm-4">
				<a target="_blank" href="http://acceleratetv.com">
					<img src="assets/img/acceleratetv.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://acceleratetv.com">acceleratetv.com</a>
				
			</div>

			<div class="col-sm-4">
				<a target="_blank" href="http://dreamers.herokuapp.com">
					<img src="assets/img/dreamers.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://dreamers.herokuapp.com">dreamers.herokuapp.com</a>
				
			</div>

			<div class="col-sm-4">
				<a target="_blank" href="http://fadareak.xyz">
					<img src="assets/img/fadareak.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://fadareak.xyz">fadareak.xyz</a>
				
			</div>

		</div>

		<div class="row m-t-lg m-b-md">
			<div class="col-sm-4">
				<a target="_blank" href="http://ifeanyinwune.com">
					<img src="assets/img/in.png" class="img-responsive">
				</a>
				<a target="_blank" class="portfolio-link" href="http://ifeanyinwune.com">ifeanyinwune.com</a>
				
			</div>
		</div>
	</div>
</div>