<div>
	<div class="work container">
		<section class="intro">
			<h1>Hello.</h1>
			<h1>My name is Yomi Eluwande and I'm a freelance front-end developer based in Lagos.</h1>
			<h3>I build websites and web apps with modern front-end technologies.</h3>
			<h3>Feel free to check out some of my projects below.</h3>
		</section>
	</div>
	<div class="bg portfolio container-fluid">
		
			<div class="ifeanyinwune">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<a target="_blank" href="http://ifeanyinwune.com"><img src="assets/img/ifeanyi.png" class="portfolio_img img-responsive"></a>
				</div>
				<div class="work_text col-md-6 col-sm-6 col-xs-12">
					<h4>I built a web portfolio for Ifeanyi Nwune who is the Fashion Designer at I.N Official that showcases his styles and latest collections.</h4>
					<h5>Everything was built from scratch and I had a blast taking on this project.</h5>
					<h5>Technologies: HTML, CSS, Bootstrap, PHP. </h5>
					<h5>Check it out <a target="_blank" href="http://ifeanyinwune.com">here</a></h5>
				</div>
			</div>

			<div class="fadareak">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<a target="_blank" href="http://fadareak.xyz"><img src="assets/img/fadareak.png" class="portfolio_img img-responsive"></a>
				</div>
				<div class="work_text col-md-6 col-sm-6 col-xs-12">
					<h4>Fadareak Photography is the birth child of Ibukun Balogun and I built his portfolio site for him to showcase his pictures and arts. <br>He also uses the .xyz domain cos he's <a href=""></a> cool kid.</h4>
					<h5>I dabbled with a tiny bit of AngularJs in this project to create a unique Single Page Website.</h5>
					<h5>Technologies: HTML, CSS, Bootstrap, Angular and Node+Express as backend.</h5>
					<h5>Check it out <a target="_blank" href="http://fadareak.xyz">here</a></h5>
				</div>
			</div>
		
	</div>
</div>